/* Contenedor general del formulario */
.form-container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Estilo para el logo */
.logo {
    max-width: 200px;
    height: auto;
    margin-bottom: 20px;
}

/* Estilos generales para los campos de entrada */
input[type="text"], select, textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    box-sizing: border-box;
    transition: border-color 0.3s, background-color 0.3s;
    margin-bottom: 10px;
}

/* Estilo al enfocar los campos de entrada */
input[type="text"]:focus, select:focus, textarea:focus {
    border-color: #007bff;
    background-color: #eaf4ff;
    outline: none;
}

input[type="email"], select, textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    box-sizing: border-box;
    transition: border-color 0.3s, background-color 0.3s;
    margin-bottom: 10px;
}

/* Estilo al enfocar los campos de entrada */
input[type="email"]:focus, select:focus, textarea:focus {
    border-color: #007bff;
    background-color: #eaf4ff;
    outline: none;
}

/* Estilo para las etiquetas */
label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    color: #555;
    text-align: left;
}

/* Estilo para el botón */
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo para el menú */
.menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

.menu > li {
    position: relative;
}

.menu a {
    text-decoration: none;
    color: #333;
    padding: 10px;
}

/* Estilo para <fieldset> */
fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

/* Estilo para la estructura de los checkboxes */
.checkbox-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
